@use "./variables" as var;

@mixin disable-selected() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin page-main-padding() {
	padding-left: 120px;
	padding-right: 120px;

	@media screen and (max-width: var.$breakpoint-m) {
		padding-left: 80px;
		padding-right: 80px;
	}

	@media screen and (max-width: var.$breakpoint-s) {
		padding-left: 20px;
		padding-right: 20px;
	}
}