@mixin disable-selected() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin page-main-padding() {
	padding-left: 120px;
	padding-right: 120px;
}