$color-bright-red: hsl(12, 88%, 59%);
$color-dark-blue: hsl(228, 39%, 23%);
$color-dark-grayish-blue: hsl(227, 12%, 61%);
$color-very--dark-blue: hsl(233, 12%, 13%);
$color-pale-red: hsl(13, 100%, 96%);
$color-light-gray: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
