@use "./variables" as var;
@use "./mixins" as mix;

.MiddleSection {
	background-image: url("../assets/images/bg-tablet-pattern.svg");
	background-position: -60% 55%;
	background-repeat: no-repeat;
	background-size: 50%;
	position: relative;
	height: 1050px;
	
	@include mix.page-main-padding();

	& .upper {
		$gap: 50px;
		display: grid;
		grid-template-columns: repeat(2, calc((100% - $gap) / 2));
		gap: $gap;
		margin-bottom: 100px;

		& .left {
			& .title {
				margin-bottom: 30px;
				color: var.$color-dark-blue;
				font-size: 30px;
			}
	
			& .subtitle {
				width: 60%;
				margin-bottom: 30px;
				font-size: 14px;
				color: var.$color-dark-grayish-blue;
			}
		}
	
		& .right {
			& .list {
				$gap: 20px;
				display: grid;
				grid-template-columns: 12% calc(100% - 12% - 30px);
				gap: 30px;
				align-items: start;
				margin-bottom: 30px;

				& .Button {
					cursor: inherit;

					&:hover,
					&:active {
						background-color: var.$color-bright-red;
						transform: translateY(0);
					}
				}
	
				& .text {
					& .list-title {
						color: var.$color-dark-blue;
						margin-bottom: 20px;
						font-weight: 700;
					}
					& .list-desc {
						color: var.$color-dark-grayish-blue;
						font-size: 14px;
					}
				}
			}
		}
	}

	& .bottom {
		text-align: center;
		position: absolute;
		left: 0;
		width: 100%;

		& .title {
			margin-bottom: 50px;
			color: var.$color-dark-blue;
			font-size: 30px;
		}

		& .testimonials-slider {
			margin-bottom: 50px;

			& .slide-box {

				& .avatar {
					width: 60px;
				}

				& .review-box {
					background-color: var.$color-light-gray;
					padding: 40px 20px 20px;
					margin-top: -30px;
					
					& .name {
						color: var.$color-dark-blue;
						font-weight: 700;
						font-size: 14px;
						margin-bottom: 10px;
					}
	
					& .review {
						color: var.$color-dark-grayish-blue;
						font-size: 12px;
						line-height: 20px;
					}
				}

			}
		}
	}
}