@use "./variables" as var;
@use "./mixins" as mix;

.TopSection {
	width: 100%;
	height: 600px;
	background-image: url("../assets/images/bg-tablet-pattern.svg");
	background-position: 115% 400%;
	background-repeat: no-repeat;
	background-size: 50%;
	margin-bottom: 50px;

	@include mix.page-main-padding();

	& .intro {
		$gap: 50px;
		display: grid;
		grid-template-columns: repeat(2, calc((100% - $gap) / 2));
		gap: $gap;

		& .content {
			padding: 50px 0;

			& .title {
				width: 90%;
				margin-bottom: 30px;
				color: var.$color-dark-blue;
				font-size: 40px;
			}
			& .subtitle {
				width: 65%;
				margin-bottom: 30px;
				font-size: 14px;
				color: var.$color-dark-grayish-blue;
			}
		}
		& .diagram {
			& img {
				width: 100%;
			}
		}
	}
}
